
.admin{
    &_menu{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    }
}

.form_wrp{
    width: 48%;
}

.catalog_search{
    margin-bottom: 20px;
    &_form{
        display: flex;
        & .form-control{
            width: 300px;
            margin-right: 10px;
        }
    }
}
