// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'mainnav.scss';
@import 'navbar.scss';
@import 'breadcrumb.scss';
@import 'filters.scss';
@import 'catalog.scss';
@import 'individual.scss';
@import 'works.scss';
@import 'contacts.scss';
@import 'admin.scss';
@import 'footer.scss';

*, a {
    color: black;
    box-sizing: border-box;
}
a:hover{
    color: black;
    text-decoration: none;
}
li{
    list-style-type: none;
}
html, body, #app {
    height: 100%;
}
.container {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main{
    &_container{
        padding: 1rem 0;
        flex: 1 0 auto;
        display: flex;
    }
}
main{
    width: 100%;
    padding: 0 0 0 1rem;
}






