
.breadcrumb{
    padding: 0;
    margin-bottom: 2rem;
    background-color: #fff;
    font-size: 0.8rem;
    &-link{
        &:hover{
            color: $gold;
        }
    }
}

.breadcrumb-item + .breadcrumb-item{
    padding-left: 0.3rem;
}
.breadcrumb-item + .breadcrumb-item::before{
    // content: ">";
    padding-right: 0.3rem;
}
.breadcrumb-link{
    text-decoration: underline;
}