.contacts{
    &_wrp{
        display: flex;
        flex-wrap: wrap;
    }
    &_block{
        padding: 0;
    }
    &_schedule{
        padding: 0;
        &_body{
            display: flex;
            flex-direction: column;
            & div{
                display: flex;
            }
        }
        &_day{
            width: 110px;
            margin: 0;
            text-align: left;
        }
        &_time{
            margin: 0;
            text-align: left;
        }
    }
    &_address{
        margin-bottom: 1rem;
    }
    &_contacts{
        &_body{
            display: flex;
            flex-direction: column;
            & a:hover{
                color: #deba8f;
                transition: 0.3s;
            }
        }
    }
    &_map{
        width: 100%;
        height: 400px;
        position: relative;
        margin-top: 2rem;
        &_img{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}

@media (max-width: 767px){
    .contacts_block{
        margin-bottom: 1rem;
    }
}
