.main{
    &_content{
        &_img{
            width: 32%;
            padding: 0;
            margin-bottom: 2%;
            &_block{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }
}

@media (max-width: 575px){
    .main_content_img{
        width: 49%;
    }
}