.works{
    &_list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &_item{
        width: 32%;
        padding: 0;
        margin-bottom: 2%;
        background-color: rgb(221, 221, 221);
    }
    &_img{
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 575px){
    .works_img{
        width: 49%;
    }
}